<footer class="footer">
    <div class="footer__container">
        <p class="footer__text">&#169; 2021 |
            <span id="footer__first-text"> All Rights Reserved |</span>
            <span class="footer__second-text">Developed with</span>
            <svg class="footer__heart">
                <use href="./images/svg/icons.svg#hert"></use>
            </svg>
            <span id="footer__third-text">by</span>
            <span class="footer__btn-open-modal-team" id="open_taem">GoIT Students</span>
            </span>
        </p>
    </div>
  
</footer>