<main>
  <div class="container">
    <section class="section">
      <ul class="grid">
        <li class="card">
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption class="details-wrapper">
              <h3 class="title">GREYHOUND</h3>
              <p class="details">Drama, Action | 2020</p>
            </figcaption>
          </figure>
        </li>
        <li class="card">
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption class="details-wrapper">
              <h3 class="title">GREYHOUND</h3>
              <p class="details">Drama, Action | 2020</p>
            </figcaption>
          </figure>
        </li>
        <li class="card">
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption class="details-wrapper">
              <h3 class="title">GREYHOUND</h3>
              <p class="details">Drama, Action | 2020</p>
            </figcaption>
          </figure>
        </li>
        <li class="card">
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption class="details-wrapper">
              <h3 class="title">GREYHOUND</h3>
              <p class="details">Drama, Action | 2020</p>
            </figcaption>
          </figure>
        </li>
        <li class="card">
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption class="details-wrapper">
              <h3 class="title">GREYHOUND</h3>
              <p class="details">Drama, Action | 2020</p>
            </figcaption>
          </figure>
        </li>
        <li class="card">
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption class="details-wrapper">
              <h3 class="title">GREYHOUND</h3>
              <p class="details">Drama, Action | 2020</p>
            </figcaption>
          </figure>
        </li>
        <li class="card">
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption class="details-wrapper">
              <h3 class="title">GREYHOUND</h3>
              <p class="details">Drama, Action | 2020</p>
            </figcaption>
          </figure>
        </li>
        <li class="card">
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption class="details-wrapper">
              <h3 class="title">GREYHOUND</h3>
              <p class="details">Drama, Action | 2020</p>
            </figcaption>
          </figure>
        </li>
        <li class="card">
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption class="details-wrapper">
              <h3 class="title">GREYHOUND</h3>
              <p class="details">Drama, Action | 2020</p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
  </div>
</main>
