<main>
  <div class="container">
    <section class="section">
      <ul class="grid">
        <li>
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption>
              <h3 class="title">GREYHOUND</h3>
              <div class="details-wrapper">
                <p class="details">Drama, Action | 2020</p>
                <div class="rating rating--visible">10.0</div>
              </div>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption>
              <h3 class="title">GREYHOUND</h3>
              <div class="details-wrapper">
                <p class="details">Drama, Action | 2020</p>
                <div class="rating">10.0</div>
              </div>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption>
              <h3 class="title">GREYHOUND</h3>
              <div class="details-wrapper">
                <p class="details">Drama, Action | 2020</p>
                <div class="rating">10.0</div>
              </div>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption>
              <h3 class="title">GREYHOUND</h3>
              <div class="details-wrapper">
                <p class="details">Drama, Action | 2020</p>
                <div class="rating">10.0</div>
              </div>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption>
              <h3 class="title">GREYHOUND</h3>
              <div class="details-wrapper">
                <p class="details">Drama, Action | 2020</p>
                <div class="rating">10.0</div>
              </div>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption>
              <h3 class="title">GREYHOUND</h3>
              <div class="details-wrapper">
                <p class="details">Drama, Action | 2020</p>
                <div class="rating">10.0</div>
              </div>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption>
              <h3 class="title">GREYHOUND</h3>
              <div class="details-wrapper">
                <p class="details">Drama, Action | 2020</p>
                <div class="rating">10.0</div>
              </div>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption>
              <h3 class="title">GREYHOUND</h3>
              <div class="details-wrapper">
                <p class="details">Drama, Action | 2020</p>
                <div class="rating">10.0</div>
              </div>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="card">
            <div class="thumb">
              <img class="img" src="./images/gallery/movie-thumb@1x.jpg" />
            </div>
            <figcaption>
              <h3 class="title">GREYHOUND</h3>
              <div class="details-wrapper">
                <p class="details">Drama, Action | 2020</p>
                <div class="rating">10.0</div>
              </div>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
  </div>
</main>
