<div class="lightbox js-lightbox visually-hidden"> 
  <div class="modal-background">
    
      <div class="lightbox__content">
        <button type="button" class="lightbox__button button-close" data-action="close-lightbox">
          <svg width="15" height="15" class="close-modal-button">
            <use href="./images/svg/icons.svg#btn-close"></use>
          </svg>
        </button>
        <h2 class="modal-title">Team "group3"</h2>
        <ul class="team">
          <!------------------------------- Rafał -------------------------------------------->
          <li class="team-list">
            
            <img
              class="lightbox__image"
              src="./images/team/Rafał.png"
              alt="photo Rafał Pawlak"
              width="200px"
              height="200px"
            />
            <h2 class="team-name">Rafał Pawlak</h2>
            <span class="contacts-link-type">Team Lead</span>
            <div class="modal-links">
              <a
                class="team-link"
                href="https://www.linkedin.com/in/rafa%C5%82-pawlak-904665252/"
                target="_blank"
              >
              <svg class="social-link-icon">
                  <use href="./images/svg/icons.svg#icon-linkedin"></use>
              </svg>
              </a
              >
              <a class="team-link" href="https://github.com/RafallPawlak" target="_blank">
              <svg class="social-link-icon">
                <use xlink:href="#team-github"></use>
                  <use href="./images/svg/icons.svg#team-github"></use>
              </svg>
              </a
              >
              <a class="team-link" href="" target="_blank">
              <svg class="social-link-icon">
                  <use href="./images/svg/icons.svg#icon-mail"></use>
              </svg>
              </a
              >
            </div>
          </li>
          <!------------------------------- Paweł -------------------------------------------->
          <li class="team-list">
            
            <img
              class="lightbox__image"
              src="./images/team/Paweł.png"
              alt="photo Rafał Pawlak"
              width="200px"
              height="200px"
            />
            <h2 class="team-name">Paweł Adamczuk</h2>
            <span class="contacts-link-type">Scrum Master</span>
            <div class="modal-links">
              <a
                class="team-link"
                href="https://www.linkedin.com/in/paweł-adamczuk-a03211243/"
                target="_blank"
              >
              <svg class="social-link-icon">
                  <use href="./images/svg/icons.svg#icon-linkedin"></use>
              </svg>
              </a
              >
              <a class="team-link" href="https://github.com/AdamczukPawel" target="_blank">
              <svg class="social-link-icon">
                <use xlink:href="#team-github"></use>
                  <use href="./images/svg/icons.svg#team-github"></use>
              </svg>
              </a
              >
              <a class="team-link" href="" target="_blank">
              <svg class="social-link-icon">
                  <use href="./images/svg/icons.svg#icon-mail"></use>
              </svg>
              </a
              >
            </div>
          </li><!------------------------------- Jacek -------------------------------------------->
          <li class="team-list">
            
            <img
              class="lightbox__image"
              src="./images/team/Jacek.png"
              alt="photo Jacek Pietrzak"
              width="200px"
              height="200px"
            />
            <h2 class="team-name">Jacek Pietrzak</h2>
            <span class="contacts-link-type">Developer</span>
            <div class="modal-links">
              <a
                class="team-link"
                href="https://www.linkedin.com/in/rafa%C5%82-pawlak-904665252/"
                target="_blank"
              >
              <svg class="social-link-icon">
                  <use href="./images/svg/icons.svg#icon-linkedin"></use>
              </svg>
              </a
              >
              <a class="team-link" href="https://github.com/jacekpietrzak" target="_blank">
              <svg class="social-link-icon">
                <use xlink:href="#team-github"></use>
                  <use href="./images/svg/icons.svg#team-github"></use>
              </svg>
              </a
              >
              <a class="team-link" href="" target="_blank">
              <svg class="social-link-icon">
                  <use href="./images/svg/icons.svg#icon-mail"></use>
              </svg>
              </a
              >
            </div>
          </li><!------------------------------- Tomek -------------------------------------------->
          <li class="team-list">
            
            <img
              class="lightbox__image"
              src="./images/team/Tomek.png"
              alt="photo Rafał Pawlak"
              width="200px"
              height="200px"
            />
            <h2 class="team-name">Tomasz Bielecki</h2>
            <span class="contacts-link-type">Developer</span>
            <div class="modal-links">
              <a
                class="team-link"
                href="https://www.linkedin.com/in/tomasz-bielecki-109035201"
                target="_blank"
              >
              <svg class="social-link-icon">
                  <use href="./images/svg/icons.svg#icon-linkedin"></use>
              </svg>
              </a
              >
              <a class="team-link" href="https://github.com/831230" target="_blank">
              <svg class="social-link-icon">
                <use xlink:href="#team-github"></use>
                  <use href="./images/svg/icons.svg#team-github"></use>
              </svg>
              </a
              >
              <a class="team-link" href="" target="_blank">
              <svg class="social-link-icon">
                  <use href="./images/svg/icons.svg#icon-mail"></use>
              </svg>
              </a
              >
            </div>
          </li><!------------------------------- Agnieszka -------------------------------------------->
          <li class="team-list">
            
            <img
              class="lightbox__image"
              src="./images/team/Aga (3).jpg"
              alt="photo Rafał Pawlak"
              width="200px"
              height="200px"
            />
            <h2 class="team-name">Agnieszka Szymańska-Olejniczak</h2>
            <span class="contacts-link-type">Developer</span>
            <div class="modal-links">
              <a
                class="team-link"
                href="https://www.linkedin.com/in/agnieszka-szyma%C5%84ska-olejniczak-011756244/"
                target="_blank"
              >
              <svg class="social-link-icon">
                  <use href="./images/svg/icons.svg#icon-linkedin"></use>
              </svg>
              </a
              >
              <a class="team-link" href="https://github.com/SzymanskaOlejniczak" target="_blank">
              <svg class="social-link-icon">
                <use xlink:href="#team-github"></use>
                  <use href="./images/svg/icons.svg#team-github"></use>
              </svg>
              </a
              >
              <a class="team-link" href="" target="_blank">
              <svg class="social-link-icon">
                  <use href="./images/svg/icons.svg#icon-mail"></use>
              </svg>
              </a
              >
            </div>
          </li>
          </ul>
          </div>
          </div>
          </div>