
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.lightbox {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.lightbox__content {
  position: relative;
  background: rgb(244, 239, 228);
  padding: 15px;
  display: inline-block;
  height: 100vh;
  border-radius: 4px;

  overflow-y: auto;

  @media screen and (max-width: 479px) {
    width: 300px;
  }

  @media screen and (min-width: 480px) {
    width: 350px;
  }

  @media screen and (min-width: $tablet) {
    width: 500px;
    height: 700px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-width: $desktop) {
    width: 950px;
    height: 640px;
    padding-left: 45px;
    padding-right: 45px;
  }
}
//======================title======================

.modal-title {
  position: relative;
  font-weight: 500;
  font-size: 30px;
  line-height: 16px;
  color: $color-brand-primary;

  padding-top: 15px;
}

//======================image-team======================

.lightbox__image {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

//====================card-team====================

.team {
  list-style: none;
  padding-top: 30px;

  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4vw;
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
  }
}

.team-list {
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.lightbox__image {
  margin: auto;
  margin-bottom: 30px;
}

.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;

  margin-bottom: 5px;

  color: $color-text-tertiary;
}

.contacts-link-type {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: $color-brand-primary;
}

//-----------------------links--------------

.modal-links {
  margin-top: 20px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (min-width: $desktop) {
    grid-gap: 1vw;
  }
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  width: 35px;
  height: 35px;
  background-color: $color-text-tertiary;

  border-radius: 50%;
  transition: background-color $transition;

  &:focus,
  &:hover {
    background-color: $color-brand-primary;
  }
}

.social-link-icon {
  width: 60%;
  height: 60%;
  fill: $color-text-secondary;
}

//===================button-modal==========================
.button-close {
  position: fixed;
  display: flex;

  right: calc(50% - 140px);

  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  background-color: transparent;
  fill: $color-text-quaternary;
  transition: background-color $transition;
  outline: none;

  cursor: pointer;

  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet) {
    right: calc(50% - 240px);
  }

  @media screen and (min-width: $desktop) {
    right: calc(50% - 450px);
  }

  &:hover,
  &:focus {
    background-color: rgba(233, 101, 24, 0.5);
    fill: $color-brand-secondary;
  }
}
.footer-button {
  color: $color-text-tertiary;
  text-decoration-line: underline;
  cursor: pointer;
  border: none;
  background-color: $color-bg-body-secondary;

  &:hover,
  &:focus {
    color: $color-brand-tertiary;
  }
}
.footer-icon {
  width: 14px;
  height: 13px;
  margin-top: 10px;
}