// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// For media breaks look in _variables.scss
// -----------------------------------------------------------------------------

// Mobile 320-768//
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // max-width: 280px;
    width: 280px;
    height: 85%;
    //max-height: 85%;
    background-color: var(--white);
    z-index: 1000;
    padding-bottom: 45px;
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    overflow: auto;
}
// Tablet 768-1024//
@media screen and (min-width: $tablet) {
  }
  
// Desktop 1024+//
@media screen and (min-width: $desktop) {
}
  