// -----------------------------------------------------------------------------
// This file contains all styles related to the logo of the site/application.
// For media breaks look in _variables.scss
// -----------------------------------------------------------------------------

// Mobile 320-768//

.search {
  &__form {
    display: flex;
    align-items: center;
    border-bottom: solid 1px $color-brand-secondary;
    position: relative;
    &:hover {
      box-shadow: 0px 0px 2px 2px rgba(255, 107, 1, 1);
    }
  }
  &__input {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    color: $color-brand-secondary;
    padding: 4px 16px 4px 0;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 25px 10px 10px;
    // border-bottom: solid 1px $color-brand-secondary;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $color-text-secondary;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $color-text-secondary;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $color-text-secondary;
    }
  }

  &__btn {
    position: absolute;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 330ms ease-in-out;
    &:hover {
      transform: scale(2);
    }
  }
  &__icon {
    width: 12px;
    height: 12px;
    stroke: #fff;
    fill: none;
  }
}

// Tablet 768-1024//
@media screen and (min-width: $tablet) {
  .search {
    &__form {
      align-self: center;
    }
    &__input {
      width: 336px;
    }
  }
}

// Desktop 1024+//
@media screen and (min-width: $desktop) {
}
