// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// For media breaks look in _variables.scss
// -----------------------------------------------------------------------------

// Mobile 320-768//
.footer {
  padding: 30px 0px;
  background-color: #f7f7f7;

  &__container {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 400;
  }

  &__btn-open-modal-team {
    text-decoration: underline;
    cursor: pointer;
  }

  &__heart {
    width: 14px;
    height: 14px;
    margin: 0px 7px;
    animation: heart 1s infinite;

    &:hover {
      animation: heartbeat 1s infinite;
    }
  }
}

// serduszko)
@keyframes heart {
  50% {
    transform: scale(1.2);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.25);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

// Tablet 768-1024//
@media screen and (min-width: $tablet) {
  .footer {
    &__container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }
    &__text {
      font-size: 16px;
      line-height: 1.19;
      color: $color-text-primary;
    }
  }
}

// Desktop 1024+//
@media screen and (min-width: $desktop) {
  .footer__text {
    font-size: 16px;
    line-height: 1.19;
    color: $color-text-primary;
  }
}
