// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// For media breaks look in _variables.scss
// -----------------------------------------------------------------------------

// Mobile 320-768//

.header {
  background-image: $hero-bg-overlay, $hero-bg-img-mobile-1x;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include retina {
    background-image: $hero-bg-overlay, $hero-bg-img-mobile-2x;
  }
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
  //   gap: 25px;
}

.navWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.message {
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 0, 27, 1);
}

// Tablet 768-1024//
@media screen and (min-width: $tablet) {
  .header {
    background-image: $hero-bg-overlay, $hero-bg-img-tablet-1x;

    @include retina {
      background-image: $hero-bg-overlay, $hero-bg-img-tablet-2x;
    }
  }
  .message {
    align-self: center;
  }
}

// Desktop 1024+//
@media screen and (min-width: $desktop) {
  .header {
    background-image: $hero-bg-overlay, $hero-bg-img-desktop-1x;
    @include retina {
      background-image: $hero-bg-overlay, $hero-bg-img-desktop-2x;
    }
  }
}
