// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// For media breaks look in _variables.scss
// -----------------------------------------------------------------------------

// Mobile 320-768//

.header-library {
  background-image: $hero-bg-overlay, $hero-library-bg-img-mobile-1x;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include retina {
    background-image: $hero-bg-overlay, $hero-library-bg-img-mobile-2x;
  }
}

.nav-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

// Tablet 768-1024//
@media screen and (min-width: $tablet) {
  .header-library {
    background-image: $hero-bg-overlay, $hero-library-bg-img-tablet-1x;

    @include retina {
      background-image: $hero-bg-overlay, $hero-library-bg-img-tablet-2x;
    }
  }
  .btn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
}

// Desktop 1024+//
@media screen and (min-width: $desktop) {
  .header-library {
    background-image: $hero-bg-overlay, $hero-library-bg-img-desktop-1x;
    @include retina {
      background-image: $hero-bg-overlay, $hero-library-bg-img-desktop-2x;
    }
  }
}
